<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="users-table">
        <tr class="table-head">
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.phone_number %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
